

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-2 {width: 70% }
@media only screen and (max-width: 850px) {
    .col-2 {width: 100% }
}


@media
only screen and (max-width: 450px) {

    /*Hide Table headers*/
    .headerTable {
        display: none;
    }

    /* Force table to not be like tables anymore */
    table, tbody, th, td, tr {
        display: block;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1):before {
        content: "ID";
        font-weight: bold
    }

    td:nth-of-type(2):before {
        content: "Name";
        font-weight: bold
    }

    td:nth-of-type(3):before {
        content: "Start Date";
        font-weight: bold
    }

    td:nth-of-type(4):before {
        content: "End Date";
        font-weight: bold
    }

    td:nth-of-type(5):before {
        content: "";
    }
}