@charset "UTF-8";
/*-----------------------------------*\

  $TOAST-GRID

  An insane grid.
  You'd be mad to use it.

  Usage
  =====

  Assuming default values:

  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      A half-width column.
    </div>
    <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
      A quarter, pulled left by its own width. You get this, right?
    </div>
  </div>


  Customisation
  =============

  $toast-grid-namespace and $toast-grid-column-namespace
  adjusts the class names for the grid. With
  default values, grid wrappers have a class
  of '.grid' and columns '.grid__col'.

  $toast-col-groups(n) adjusts column divisions.
  For example, $toast-col-groups(12) will produce
  a 12-column grid. $col-groups(3,6,8)
  will produce a 3-, 6-, and 8-column grid.

  $toast-gutter-width isÔÇöyou guessed itÔÇöthe gutter
  width. Accepts any unit.

  That's it. Have fun.

\*-----------------------------------*/
.grid {
  list-style: none;
  margin-left: -20px; }

.grid--flex {
  display: flex; }

@media (max-width: 900px) {
  .grid--flex {
    display: block; } }
.grid__col--1-of-1, .grid__col--2-of-2, .grid__col--3-of-3, .grid__col--4-of-4, .grid__col--5-of-5, .grid__col--6-of-6, .grid__col--8-of-8, .grid__col--12-of-12 {
  width: 100%; }

.grid__col--1-of-2, .grid__col--2-of-4, .grid__col--3-of-6, .grid__col--4-of-8, .grid__col--6-of-12 {
  width: 50%; }

.grid__col--1-of-3, .grid__col--2-of-6, .grid__col--4-of-12 {
  width: 33.33333%; }

.grid__col--2-of-3, .grid__col--4-of-6, .grid__col--8-of-12 {
  width: 66.66667%; }

.grid__col--1-of-4, .grid__col--2-of-8, .grid__col--3-of-12 {
  width: 25%; }

.grid__col--3-of-4, .grid__col--6-of-8, .grid__col--9-of-12 {
  width: 75%; }

.grid__col--1-of-5 {
  width: 20%; }

.grid__col--2-of-5 {
  width: 40%; }

.grid__col--3-of-5 {
  width: 60%; }

.grid__col--4-of-5 {
  width: 80%; }

.grid__col--1-of-6 {
  width: 16.66667%; }

.grid__col--5-of-6 {
  width: 83.33333%; }

.grid__col--1-of-8 {
  width: 12.5%; }

.grid__col--3-of-8 {
  width: 37.5%; }

.grid__col--5-of-8 {
  width: 62.5%; }

.grid__col--7-of-8 {
  width: 87.5%; }

.grid__col--1-of-12 {
  width: 8.33333%; }

.grid__col--2-of-12 {
  width: 16.66667%; }

.grid__col--5-of-12 {
  width: 41.66667%; }

.grid__col--7-of-12 {
  width: 58.33333%; }

.grid__col--10-of-12 {
  width: 83.33333%; }

.grid__col--11-of-12 {
  width: 91.66667%; }

.grid__col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 20px;
  vertical-align: top; }
  @media (max-width: 900px) {
    .grid__col {
      display: block;
      margin-left: 0;
      margin-right: 0;
      width: auto; } }
  @media (max-width: 900px) and (min-width: 500px) {
    .grid__col[class*="grid__col--m-"] {
      display: inline-block;
      margin-right: -.24em; }
    .grid__col.grid__col--m-1-of-2, .grid__col.grid__col--m-2-of-4 {
      width: 50%; }
    .grid__col.grid__col--m-1-of-3 {
      width: 33.33333%; }
    .grid__col.grid__col--m-2-of-3 {
      width: 66.66667%; }
    .grid__col.grid__col--m-1-of-4 {
      width: 25%; }
    .grid__col.grid__col--m-3-of-4 {
      width: 75%; } }
  @media (max-width: 500px) {
    .grid__col[class*="grid__col--s-"] {
      display: inline-block;
      margin-right: -.24em; }
    .grid__col.grid__col--s-1-of-2, .grid__col.grid__col--s-2-of-4 {
      width: 50%; }
    .grid__col.grid__col--s-1-of-3 {
      width: 33.33333%; }
    .grid__col.grid__col--s-2-of-3 {
      width: 66.66667%; }
    .grid__col.grid__col--s-1-of-4 {
      width: 25%; }
    .grid__col.grid__col--s-3-of-4 {
      width: 75%; } }

.grid__col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.grid__col--d-first {
  float: left; }

.grid__col--d-last {
  float: right; }

.grid--no-gutter {
  margin-left: 0;
  width: 100%; }
  .grid--no-gutter .grid__col {
    padding-left: 0; }
  .grid--no-gutter .grid__col--span-all {
    margin-left: 0;
    width: 100%; }

.grid__col--ab {
  vertical-align: bottom; }

.grid__col--am {
  vertical-align: middle; }

input, select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.form-group label {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  font-weight: 500;
  margin-bottom: 10px; }

.form-control {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  -webkit-border-radius: 3pt;
  -moz-border-radius: 3pt;
  border-radius: 3pt;
  width: 300px;
  height: 30px;
  margin: 5px auto;
  border: solid 1px #aaaaaa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.form-label {
  padding: 10px 0;
  display: block;
  font-weight: 500; }

html, body {
  padding: 0;
  margin: 0;
  background-color: #E1E1E1;
  font: 100% Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; }
  html #main, body #main {
    margin-left: 250px; }
    html #main .context, body #main .context {
      width: 1000px;
      margin: 0 auto; }

div.block {
  background-color: #FFFFFF;
  padding: 15px;
  -webkit-border-radius: 2pt;
  -moz-border-radius: 2pt;
  border-radius: 2pt;
  -webkit-box-shadow: 0px 0px 10px 1px #CCCCCC;
  -moz-box-shadow: 0px 0px 10px 1px #CCCCCC;
  box-shadow: 0px 0px 10px 1px #CCCCCC;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin-top: 20px; }
  div.block .block-title {
    color: #7F7F7F;
    font-size: 14px;
    padding-bottom: 10px;
    text-align: left; }
    div.block .block-title h1 {
      font-weight: 500;
      color: #000000;
      margin: 0;
      font-size: 25px;
      text-align: left; }
  div.block .block-icons {
    position: absolute;
    top: 20px;
    right: 20px; }
    div.block .block-icons a {
      color: #000;
      text-decoration: none; }
  div.block .block-content {
    position: relative; }

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3a3a3a;
  overflow-x: hidden; }
  .sidebar nav a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    opacity: 0.7;
    display: block;
    padding: 10px 8px 10px 67px;
    border-left: transparent 3px solid; }
    .sidebar nav a i {
      margin: -5px 0 -5px -32px;
      display: inline-block;
      width: 32px;
      font-size: 1.2em !important; }
    .sidebar nav a.sub-item {
      padding: 5px 8px 5px 80px;
      font-size: 0.8em; }
    .sidebar nav a:hover {
      opacity: 1;
      border-left: #009900 3px solid; }
  .sidebar nav .sidebar-title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #8e8e8e;
    display: block;
    padding: 16px 8px 12px 32px;
    margin: 10px 0 0 0;
    border-top: #323232 solid 3px; }

header.global {
  background-color: #009900;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  height: 55px; }

.alerts {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 500px; }
  .alerts .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin: 10px 0; }
    .alerts .alert.success {
      background-color: #4CAF50; }
    .alerts .alert .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s; }
      .alerts .alert .closebtn:hover {
        color: black; }

/*# sourceMappingURL=layout.css.map */
