@import "core/_variables"
@import "core/_toastgrid"
@import "core/_form-elements"

html, body
  padding: 0
  margin: 0
  background-color: $bg-color
  font: 100% $font-stack

  #main
    margin-left: 250px

    .context
      width: 1000px
      margin: 0 auto


@import "modules/_block"
@import "modules/_sidebar"
@import "modules/_alerts"