@import "variables"

input, select
  +box-sizing(border-box)

.form-group
  label
    +center-block()
    width: 300px
    font-weight: 500
    margin-bottom: 10px

.form-control
  +center-block()
  padding: 5px
  +border-radius(3pt)
  width: 300px
  height: 30px
  margin: 5px auto
  border: solid 1px #aaaaaa
  +box-sizing(border-box)

.form-label
  padding: 10px 0
  display: block
  font-weight: 500