$font-stack: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif

$bg-color: #E1E1E1
$font-color: #000000
$shadow-color: #CCCCCC
$block-color: #FFFFFF
$block-title-color: #7F7F7F

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  border-radius: $radius

=box-shadow($horizontal , $vertical , $blur, $spread , $color)
  -webkit-box-shadow: $horizontal $vertical $blur $spread $color
  -moz-box-shadow: $horizontal $vertical $blur $spread $color
  box-shadow: $horizontal $vertical $blur $spread $color

=box-sizing($box-model)
  -webkit-box-sizing: $box-model
  -moz-box-sizing: $box-model
  box-sizing: $box-model

=center-block()
  display: block
  margin-left: auto
  margin-right: auto