.alerts
  position: fixed
  right: 20px
  bottom: 20px
  width: 500px

  .alert
    padding: 20px
    background-color: #f44336
    color: white
    margin: 10px 0

    &.success
      background-color: #4CAF50

    .closebtn
      margin-left: 15px
      color: white
      font-weight: bold
      float: right
      font-size: 22px
      line-height: 20px
      cursor: pointer
      transition: 0.3s

      &:hover
        color: black