@import "../core/_variables"

div.block
  background-color: $block-color
  padding: 15px
  +border-radius(2pt)
  +box-shadow(0px, 0px, 10px, 1px, $shadow-color)
  +box-sizing(border-box)
  position: relative
  margin-top: 20px

  .block-title
    color: $block-title-color
    font-size: 14px
    padding-bottom: 10px
    text-align: left

    h1
      font-weight: 500
      color: $font-color
      margin: 0
      font-size: 25px
      text-align: left

  .block-icons
    position: absolute
    top: 20px
    right: 20px

    a
      color: #000
      text-decoration: none

  .block-content
    position: relative