@import "../core/_variables"

.sidebar
  height: 100%
  width: 250px
  position: fixed
  z-index: 1
  top: 0
  left: 0
  background-color: #3a3a3a
  overflow-x: hidden

  nav
    a
      text-decoration: none
      font-size: 14px
      color: rgba(255, 255, 255, 1)
      text-transform: uppercase
      opacity: .7
      display: block
      padding: 10px 8px 10px 67px
      border-left: transparent 3px solid

      i
        margin: -5px 0 -5px -32px
        display: inline-block
        width: 32px
        font-size: 1.2em !important

      &.sub-item
        padding: 5px 8px 5px 80px
        font-size: .8em

      &:hover
        opacity: 1
        border-left: #009900 3px solid

    .sidebar-title
      text-transform: uppercase
      font-size: 12px
      font-weight: 700
      color: rgba(142, 142, 142, 1)
      display: block
      padding: 16px 8px 12px 32px
      margin: 10px 0 0 0
      border-top: rgba(50, 50, 50, 1) solid 3px

header.global
  background-color: #009900
  font-size: 18px
  +box-sizing(border-box)
  color: white
  height: 55px